<!doctype html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>TASK 1</title>
</head>
<body>
<section class="excursions">
  <div class="container">
    <ul class="excursions__list" *ngFor="let card of AllCards">
      <li class="excursions__item cards">
        <img class="cards__img" src="{{card.img}}" alt="img1">
        <div class="cards__text">
          <h2 class="cards__text-title">{{card.title}}</h2>
          <div class="cards__text-duration duration">
            <img class="duration__img" src="../assets/img/duration-clocks.svg" alt="duration-clocks">
            <span class="duration__clocks">{{card.duration}}</span>
          </div>
          <ul class="cards__text-description description">
            <li class="description__item">Билет на целый день</li>
            <li class="description__item">Неограниченное число катаний</li>
            <li class="description__item">6 остановок у главных достопримечательностей</li>
            <li class="description__item times">
              <p class="times__text">Ближайший рейс сегодня</p>
              <ul class="times__list" *ngFor="let time of card.times">
                <li class="times__item">{{time}}</li>
              </ul>
            </li>
          </ul>
          <div class="cards__text-information information">
              <div class="information__price">
                <div class="information__price-main">{{card.price}} &#8381;</div>
                <div class="information__price-additionally" *ngIf="card.additionallyPrice">{{card.additionallyPrice}} &#8381; на причале</div>
              </div>
              <button class="information__btn">Подробнее</button>
            </div>
        </div>

      </li>
    </ul>
  </div>
</section>
</body>
</html>
