.excursions__list {
  display: flex;
  flex-direction: column;

  .cards {
    max-width: 1106px;
    display: flex;
    flex-direction: row;
    margin: 60px auto;
    border: 0.5px solid var(--border-color);
    border-radius: 15px;

    &__img {
      display: block;
    }

    &__text {
      padding: 16px 16px 0 20px;

      .cards__text-title {
        max-width: 557px;
        font-weight: 400;
        font-size: 26px;
        line-height: 34px;
        color: var(--title-and-price-text-color);
      }

      .duration {
        padding: 6px 0 10px 0;
        display: flex;
        align-items: center;
        gap: 6px;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: var(--duration-clocks-color);
      }

      .description__item {
        font-weight: 400;
        font-size: 18px;
        line-height: 20px;
        color: var(--information-text-color);
      }

      .times {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        .times__text {
          margin-right: 12px;
        }

        .times__list {
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          margin-right: 6px;
          max-width: 450px;

          .times__item {
            text-align: center;
            width: 73px;
            height: 28px;
            background-color: var(--time-voyage-bg-color);
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
            border-radius: 11px;
            color: var(--information-text-color);
            padding: 6px 14px 0 14px;
            cursor: pointer;
            font-size: 16px;
          }

          .times__item:hover {
            background-color: var(--time-voyage-hover-bg-color);
            color: var(--main-bg-color);
          }
        }
      }

      .description__item:before {
        content: '\2713';
        display: inline-block;
        color: var(--information-instruments-bg-color);
        font-size: 18px;
        font-weight: bold;
        margin-right: 14px;
      }

      .description__item:nth-child(1) {
        margin-bottom: 11px;
      }

      .description__item:nth-child(2) {
        margin-bottom: 14px;
      }

      .description__item:nth-child(3) {
        margin-bottom: 25px;
      }
    }
  }


  .information {
    padding: 27px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

    .information__price {
      font-weight: 400;
      line-height: 20px;
      color: var(--title-and-price-text-color);

      .information__price-main {
        font-size: 36px;
        margin-bottom: 2px;
      }

      .information__price-additionally {
        font-size: 14px;
      }
    }

    .information__btn {
      border: none;
      width: 187px;
      height: 52px;
      left: 820px;
      top: 782px;
      background: var(--information-instruments-bg-color);
      border-radius: 23px;
      font-weight: 400;
      font-size: 18px;
      line-height: 20px;
      color: var(--information-instruments-text-color);
      cursor: pointer;
    }

    .information__btn:hover {
      background: var(--information-instruments-bghover-color);
    }

  }
}

@media (max-width: 1320px) {

  .times__list {
    padding-top: 10px;
  }
}

@media (max-width: 1100px) {
  .cards__text-title {
    //max-width: 400px;
    font-weight: 400;
    font-size: 20px;
  }
}

@media (max-width: 998px) {
  times__list {
    max-width: 350px;
  }
}

@media (max-width: 820px) {
  .cards {
    flex-wrap: wrap;
  }
  .cards__img{
    width: 100%;
  }
  .information {
    justify-content: space-between;
  }
}

@media (max-width: 470px) {
  .cards__text-title {
    max-width: 317px;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;;
  }
}


